sudo: false
language: python

python: "3.7"

cache:
  - pip
  - apt

services:
  - postgresql

# install dependencies
install:
  - pip install pipenv
  - pipenv install --dev
  - pipenv graph

before_script:
  - psql -c 'create database wts_test;' -U postgres

# run tests
script:
  - pipenv run pytest -vv --cov=wts --cov-report xml tests

after_script:
  - pipenv run python-codacy-coverage -r coverage.xml
