[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codacy-coverage = "*"
pytest = ">=3.2.3"
pytest-cov = ">=2.5.1"
pytest-flask = ">=0.10.0"
PyYAML = ">=3.13"

[packages]
requests = "*"
flasgger = "*"
flask-cors = "~=3.0"
cdiserrors = "~=0.1"
cdislogging = "~=0.0"
Authlib = "==0.4.1"
cryptography = "~=1.9"
Flask = "~=1.0"
Flask-SQLAlchemy = "~=2.3"
psycopg2 = "~=2.7"
python-jose = "~=3.0"
kubernetes = "~=6.0"


[requires]
python_version = "3.6"
