Authlib==0.4.1
git+https://git@github.com/uc-cdis/cdiserrors.git@aa9e4401319725701755fa4be08ad372f639678a#egg=cdiserrors
git+https://git@github.com/uc-cdis/cdislogging.git@master#egg=cdislogging
cryptography==1.9
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
psycopg2==2.7.4
python-jose==3.0.0
requests==2.18.4
kubernetes==6.0.0
